
<div class="row">
	<div class="six columns">
		<h3>Sign up</h3>
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		
			<%= render "shared/errors" %>
		
			<%= f.label :screen_name %>
			<%= f.text_field :screen_name %>
			  
			<%= f.label :email %>
			<%= f.email_field :email %>
			
			<% if f.object.password_required? %>
              <%= f.label :password %>
    		  <%= f.password_field :password %>
    			
    		  <%= f.label :password_confirmation %>
    		  <%= f.password_field :password_confirmation %>
			<% end %>
			
			<%= f.submit "Sign up" %>
		<% end %>
		
		<%= render "devise/shared/links" %>
	</div>
</div>
