<div class="row">
    <div class="six columns">
        <% if can? :update, @user %>
            <a href="#" class="small radius button right" data-reveal-id="compose">Compose</a>
        <% end %>
        
        <h3>Recent Bleats</h3>

        <%= render @user.bleats %>
		
	</div>
    <div class="six columns">
        <% if can? :update, @user %>
            <%= link_to 'Edit', edit_user_path(@user), class: 'right small radius button' %>
        <% end %>
        
        <h3>
            <%= @user.screen_name %>            
        </h3>

        <p>
          <b>Email:</b>
          <%= @user.email %>
        </p>
        
        <p>
          <b>Avatar url:</b>
          <%= @user.avatar_url %>
        </p>

        <p>
          <b>Bio:</b>
          <%= @user.bio %>
        </p>        
    </div>
</div>

<div id="compose" class="reveal-modal medium">
    <a class="close-reveal-modal">&#215;</a>
    <%= render "bleats/form" %>
</div>
