<%= form_for(@bleat) do |f| %>

  <%= render "shared/errors", resource: @bleat %>
  
  <div class="field">
    <%= f.label 'new bleat' %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit 'post', class: 'small radius button' %>
  </div>
<% end %>
