<div class="row">
    <div class="six columns">
        <h3>Sign in</h3>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'custom' }) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email %>
        
            <%= f.label :password %>
            <%= f.password_field :password %>
        
            <% if devise_mapping.rememberable? -%>
                <label for="remember_me">
                    <%= f.check_box :remember_me %>
                    <span>remember me</span>
                </label>
            <% end -%>
        
            <div class="actions">
                <%= f.submit "Sign in", class: 'small radius button' %>
            </div>
        <% end %>
        
        <%= render "devise/shared/links" %>
    </div>
    <div class="six columns">
    </div>
</div>
