<!DOCTYPE html>
<html>
<head>
  <title>Bleater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Basic Needs -->
    <div class="fixed contain-to-grid">
    <nav class="top-bar">
        <ul>
            <li class="name"><h1><a href="/">Bleater</a></h1></li>
        </ul>
	  
        <section>
            <ul class="right">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to "Welcome, #{current_user.screen_name}!", current_user %>
                    </li>
                    <li>
                        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
                    </li>
                    <% if current_user.admin? %>
                        <li>
                            <%= link_to "Admin", "/admin" %>
                        </li>
                    <% end %>
                    <li>
                        <a href="#" data-reveal-id="compose">Compose</a>
                    </li>       
                <% else %>
                    <li>
                        <%= link_to 'Sign in', :new_user_session %>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Sign in with</a>
                
                        <ul class="dropdown">
                            <% for provider in User.omniauth_providers %>
                                <li>
                                    <%= link_to provider.to_s.titleize, user_omniauth_authorize_path(provider) %>
                                </li>
                            <% end %>
                        </ul>
                
                    </li> 
                <% end %>
	      </ul>
	  </section>
	</nav>
	</div>
	
	<div class="row">
	    <div class="twelve columns">
        	
        	<% if flash[:notice] %>
                <div class="alert-box">
                    <%= flash[:notice] %>
                    <a href="" class="close">&times;</a>
                </div>
            <% end %>
            <% if flash[:error] %>
                <div class="alert-box alert">
                    <%= flash[:error] %>
                    <a href="" class="close">&times;</a>
                </div>
            <% end %>
            <% if flash[:alert] %>
                <div class="alert-box alert">
                    <%= flash[:alert] %>
                    <a href="" class="close">&times;</a>
                </div>
            <% end %>
        </div>
    </div>

    <%= yield %>

    <% if user_signed_in? %>
        <div id="compose" class="reveal-modal medium">
            <a class="close-reveal-modal">&#215;</a>
            <%= render "bleats/form" %>
        </div>
    <% end %>

</body>
</html>
