<!DOCTYPE html>
<html>
<head>
  <title>Bleater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- Basic Needs -->
    <nav class="top-bar">
        <ul>
            <li class="name"><h1><a href="/">Bleater</a></h1></li>
        </ul>
	  
        <section>
            <ul class="right">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to "Welcome, #{current_user.screen_name}!", current_user %>
                    </li>
                    <li>
                        <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
                    </li>
                <% else %>
                    <li class="has-dropdown">
                        <a href="#">Sign in with</a>
                
                        <ul class="dropdown">
                            <li>
                                <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
                            </li>
                            <li>
                                <%= link_to "Github", user_omniauth_authorize_path(:github) %>
                            </li>
                        </ul>
                
                    </li>        
                <% end %>
	      </ul>
	  </section>
	</nav>

<%= yield %>

</body>
</html>
